h1 {
	margin-bottom: 20px;
}
header .info {
	padding-top: 44px;
}
header .info h3 {
	color: #7c7852;
}
.da-slide p {
	height: 150px;
}
.center {
	text-align: center !important;
	padding: 0 !important;
}
footer {
	position: relative;
}
footer .line {
	width: 100%;
	height: 1px;
	font-size: 0;
	position: absolute;
	left: 0;
	top: 10px;
	background-color: #ddd;
}
footer .copy {
	border: none !important;
}

/* Login form */
.form-horizontal.form-type-login input[type="email"],
.form-horizontal.form-type-login input[type="text"],
.form-horizontal.form-type-login input[type="password"] {
	width: 100%;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-horizontal.form-type-login .form-actions {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.form-horizontal.form-type-login .form-actions input[type="submit"] {
	margin: 0 auto;
}
.formy .help-inline {
	font-size: 12px;
}
abbr[title], abbr[data-original-title] {
	cursor: default;
	border-bottom: none;
}

td.middle {
	vertical-align: middle;
}

.theme-block {
	color: #fff;
	padding: 20px;
	min-height: 155px;
}
.theme-block h4 {
	color: #fff;
}

.g-blue {
	background-color: #70b2e2;
}
.g-red {
	background-color: #ce2c29;
}
.g-green {
	background-color: #00c655;
}
.g-orange {
	background-color: #E09533;
}
.g-yellow {
	background-color: #d0ce09;
}
.g-violin {
	background-color: #70019d;
}
.g-disabled {
	background-color: #ccc;
}

.timetable {
	margin-top: 20px;
}
.timetable thead th {
	vertical-align: middle;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.timetable .hour,
.timetable .hour td {
	height: 120px;
}
.issue-container {
	position: relative;
	width: 100%;
}
.issue-wrap {
	position: absolute;
	margin: 0 0px;
	width: 129px;
}
.issue-container .issue {
	
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
	width: 128px;
}
.hour_1 {
	height: 100px;
}
.hour_3 {
	height: 385px;
}
.hour_4 {
	height: 520px;
}

.error {
	display: block; 
}
.color {
	color: #d4724b !important;
}
.formy {
	background: #fe781e !important;	
}