.programm__schedule__lectures__lecture{ class: lecture.decorate.workshop_color }
  %h4.lecture__lecturer
    = lecture.user.decorate.full_name
  %span.lecture__company
    = lecture.user.company
  %p.lecture__desc
    = lecture.title
