- @halls.each do |hall|
  - if hall.has_begin_lecture?(i_time)
    %td{ rowspan: hall.slot_at_the_time(i_time).decorate.duration / 5, data: {hall: hall.id} }
      = render "lecture", lecture: hall.slot_at_the_time(i_time).event
  - elsif hall.has_not_slots?(i_time)
    %td{data: {hall: hall.id} }
%td{ style: "border-left: 0px;" }
