- @halls.each_with_index do |hall, i|
  - at_this_time = hall.at_this_time(i_time)
  - case(at_this_time[:status])
    - when(:lecture_begin)
      %td{ rowspan: at_this_time[:slot].duration / 5, data: { hall: i + 1 } }
        = render "lecture", lecture: at_this_time[:slot].event, slot: at_this_time[:slot]
    - when(:slot_is_empty)
      %td{data: { hall: i + 1 } }
  -# if hall.has_begin_lecture?(i_time)
    - slot = hall.slot_at_the_time(i_time)
    %td{ rowspan: slot.duration / 5, data: { hall: i + 1 } }
      = render "lecture", lecture: slot.event, slot: slot
  -# elsif hall.has_not_slots?(i_time)
    %td{data: { hall: i + 1 } }
%td{ style: "border-left: 0px;" }
