.timeline
  - (start_hour...end_hour).each do |i|
    .b-quart
      .lined
      = i
      %sup
        00
    .b-quart
      .lined
      %sup
        15
    .b-quart
      .lined
      %sup
        30
    .b-quart
      .lined
      %sup
        45