- if @halls.first.timeline_need_start_event_correction?(i_time)
  %td.programm__time{ style: "border-top: 0px" }
- elsif i_time.minute % 15 == 0
  %td.programm__time{ rowspan: 3, class: @halls.first.border_first_timeline_cell?(i_time)  }
    = i_time.hour
    %span
      = minute_to_timeline(i_time.minute)
