%tr.programm__schedule__mainaction
  %td
    10
    %span 00
- (start_hour...end_hour).each do |i|
  %tr
    %td
      = i
      %span 00
    - (1...5).each do |j|
      %tr
        %td
    %tr
      %td
        = i
        %span 30
    - (1...5).each do |j|
      %tr
        %td
