.con.content.programm
  .content__tabs__line
  .layout-line
    %h1.pagetitle__title Программа
    %dl.content__tabs
      %dt.tabs__title.tab_button.selected

    %br
    %h3 Пока в разработке, появится позже
    %br
    %a{ href: "#", onclick: "display_hide('#scheme');return false;" }
      = t('.show_scheme')
    #scheme{ style: "display:none;" }
      %img{ src: "/images/areas-scheme.jpg", alt: "Scheme" }
