- # FIXME в программе лютая жесть с версткой. быстрое решение для пустой программы. разобраться с версткой!
- if @workshops.any?
  = render 'programm'
- else
  .pagetitle
    .layout-line
      %h1.pagetitle__title Программа
  .content.programm__empty
    .layout-line
      %br
      = t '.schedule_empty'
      %br
