%h1 Программа
%h3 Пятница, 12 апреля

.awesome-timetable
  .timepad
    - (0...6).each do |i|
      .area
        Зал
        =i+1
  .clearfix
  .timeline
    - (10...21).each do |i|
      .b-quart
        .lined
        = i
        %sup
          00
      .b-quart
        .lined
        %sup
          15
      .b-quart
        .lined
        %sup
          30
      .b-quart
        .lined
        %sup
          45

  .timepad
    .area-container.area-1-container
      .event.area-1.section-1.start-11.offset-15.long-30
        .caption Cам себе кгб: как собрать досье на клиентов
        .author Виталий Мышляев
      .event.area-1.section-6.start-16.long-135
        .caption Что сказал бы о ваших сотрудниках дедушка фрейд?
        .author Андрей Григорьев

    .area-container.area-2-container
      .event.area-2.section-2.start-11.offset-30.long-60
        .caption Вступление в силу ФЗ-139 (закон о "безопасном интернете"): все ли готовы?
        .author Денис Давыдов
      .event.area-2.section-5.start-17.long-105
        .caption Высоконагруженные проекты для менеджеров
        .author АлександрОченьДлинный Демидов

    .area-container.area-3-container
      .event.area-3.section-3.start-12.offset-45.long-120
        .caption Вместе дружная семья или менеджмент по-семейному
        .author Константин Констанинопольский
      .event.area-3.section-4.start-18.long-90
        .caption Кейс секция : реальные практики без теории
        .author Александр Прозоров

    .area-container.area-4-container
      .event.area-4.section-4.start-13.long-180
        .caption Что общего между племенем тонга, университетскимисупердлиннымичтоневлезает братствами и прохождением испытательного срока?
        .author Александр Богданов
      .event.area-4.section-3.start-19.long-75
        .caption Таргетированная реклама
        .author Михаил Козлов

    .area-container.area-5-container
      .event.area-5.section-5.start-14.long-60
        .caption theRunet: Видео и телевидение в интернете
        .author Мария Сирош
      .event.area-5.section-2.start-15.long-45
        .caption Онлайн знакомства сегодня и завтра
        .author Максим Королев

    .area-container.area-6-container
      .event.area-6.section-6.start-15.long-150
        .caption Новые горизонты в организации продаж
        .author Мария Питерская
      .event.area-6.section-1.start-16.long-240
        .caption Битва за платежи в интернете
        .author Михаил Калинин

  .clearfix