.con.content.programm
  .content__tabs__line
  .layout-line
    %h1.pagetitle__title Программа
    %dl.content__tabs
      %dt.tabs__title.tab_button.selected 

    %h3 Пока в разработке, появится позже
    .accordion#accordion2.accordion-scheme
      .accordion-group
        .accordion-heading
          = t('.show_scheme')
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %img{src: "/images/areas-scheme.jpg", alt: "Scheme"}



