/.bundle
/.idea
/db/*.sqlite3
/log/*.log
/tmp
*~
/public/*
!public/index.html
!public/font
!public/less
!public/img
!public/js
!fonts/
/coverage

#ignore idea project files
.idea
*~
\#*\#
.\#*
*.swn
*.swp
*.swo
*.swm
/config/database.yml
/.sass-cache
.vagrant
*.sqlite3-journal
.directory
/config/database.yml
/config/credentials.yml
nastachku_development
nastachku_test
log/untranslated.*.yml
nastachku_development
nastachku_production
nastachku_test
nastachku_staging_2014
