/.bundle
/db/*.sqlite3
/log/*.log
/tmp
*~
/public/system/uploads
/coverage

/config/database.yml
/.sass-cache
*.sqlite3-journal
/config/database.yml
/config/credentials.yml
nastachku_development
nastachku_test
log/untranslated.*.yml
nastachku_development
nastachku_production
nastachku_test
nastachku_staging_2014
nastachku_test-journal
