/.bundle
/db/*.sqlite3
/log/*.log
/tmp
*~
/public/system/uploads
/coverage

/config/database.yml
/.sass-cache
*.sqlite3-journal
/config/database.yml
/config/credentials.yml
/config/secrets.yml
.capistrano
/vendor/bundle