.page-header
  %h1=t '.title'
-# FIXME придумать способ доставать цены из configus
.row-fluid
  .span6
    %h3
      = t('.prices_for_ticket')
    %table.table.table-stripped.table-bordered
      %thead
        %th
        %th
          Февраль
        %th
          Март
        %th
          Апрель
      %tr
        %td
          Первый день
        %td
          500
        %td
          750
        %td
          1000
      %tr
        %td
          Второй день
        %td
          250
        %td
          350
        %td
          500
      %tr
        %td
          Общая стоимость за два дня
        %td
          750
        %td
          1100
        %td
          1500

