<p>Добрый день, <%= @user.decorate.full_name %>.</p>
<p>Поздравляем вас с регистрацией на сайте <%= link_to 'nastachku.ru', root_url %>!</p>
<p>Не забудьте записать Ваш персональный номер для участия в конференции: <strong><%= @user.id %></strong></p>
<p>Встретимся на СТАЧКЕ!</p>
