"Чтобы завершить процедуру восстановления пароля, пожалуйста, перейдите по указанной ссылке:
= link_to(nil, edit_account_password_url(:auth_token => @token.authentication_token))
Ссылка будет доступна в течении 1 часа.
Если вы не ожидали это письмо, просто проигнорируйте его.
Спасибо. Центр обучения IT-специалистов"