%p
  Добрый день,
  = @user.decorate.full_name
%p
  Поздравляем Вас! Вы получили билет на Стачку!
  = link_to 'nastachku.ru', root_url
  \!
%p
  Чтобы получить пароль от Вашего аккаунта перейдите
  = link_to "http://nastachku.ru/remind_password/new", сюда.
%p
  Не забудьте записать Ваш персональный номер для участия в конференции:
  %strong
    = @user.id
%p
  Встретимся на СТАЧКЕ!
