%p
  Добрый день,
  = @user.decorate.full_name
%p
  Поздравляем Вас! Вы получили билет на Стачку!
  = link_to 'nastachku.ru', root_url
  \!
%p
  Чтобы получить пароль от Вашего аккаунта перейдите
  = link_to "сюда", "http://nastachku.ru/remind_password/new"
%p
  Встретимся на СТАЧКЕ!
