.nastachku-twitter-widget
  %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: 'nastachku',    
      interval: 30000,
      title: '#nastachku',
      subject: 'Новости из Twitter',
      width: 298,
      height: 488,
      theme: {
        shell: {
          background: '#ffffff',
          color: '#333333'
        },
        tweets: {
          background: '#ffffff',
          color: '#333333',
          links: '#0084b4'
        }
      },
      features: {
        scrollbar: true,
        loop: true,    
        live: true,
        behavior: 'default'    
      }
    }).render().start();