%h1 Пресс-центр
.row
  .span.press
    %h4 Что нового?
    .blog
      .posts
        - @news.each do |news|
          .entry
            .meta
              %i.icon-calendar
              = l news.created_at
            %p= raw markdown news.body

  .span4.social-widget
    = render "web/news/facebook_widget"
  .span4.social-widget
    = render "web/news/twitter_widget"