%h1.title Стачка ON-LINE

.tabbable
  %ul.nav.nav-tabs.nav-schedule-tabs
    %li.active= link_to 'Пятница, 12 апреля', '#conf-day-1', data: { toggle: 'tab' }
    %li= link_to 'Суббота, 13 апреля','#conf-day-2', data: { toggle: 'tab' }

.tab-content
  .tab-pane.active#conf-day-1
    %h5 Большой Зал
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1766", :title => "DigiCast video player", :width => "100%"}
    %h5 Кинобар
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1760", :title => "DigiCast video player", :width => "100%"}
    %h5 Пресс-центр
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1761", :title => "DigiCast video player", :width => "100%"}
    %h5 Кинозал музея
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1762", :title => "DigiCast video player", :width => "100%"}
    %h5 Фойе ОПЦ
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1768", :title => "DigiCast video player", :width => "100%"}

  .tab-pane#conf-day-2
    %h5 Большой Зал
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1759", :title => "DigiCast video player", :width => "100%"}
    %h5 Кинобар
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1763", :title => "DigiCast video player", :width => "100%"}
    %h5 Пресс-центр
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1764", :title => "DigiCast video player", :width => "100%"}
    %h5 Кинозал музея
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1765", :title => "DigiCast video player", :width => "100%"}
    %h5 Фойе ОПЦ
    %iframe{:allowfullscreen => "true", :allowtransparency => "", :frameborder => "0", :height => "360", :src => "http://live.digicast.ru/embed/1769", :title => "DigiCast video player", :width => "100%"}

%br
%br