%h1.title Какие будут секции?
%br
.themes-talk
  .row
    .span4
      .theme-block.g-blue
        %h4 Digital-коммуникации
        %p Веб-дизайн, юзабилити, интернет-маркетинг, SEO, SMM, креатив, PR, управление проектами
    .span4
      .theme-block.g-red
        %h4 Программирование
        %p Методологии, devops, big data, highload, языки, архитектура кода и проектов, client-side, мобильные и облачные технологии
    .span4
      .theme-block.g-green
        %h4 IT-стартапы
        %p Истории успеха, где брать деньги, как начинать
  .row
    .span4
      .theme-block.g-orange
        %h4 Электронная коммерция
        %p Тренды в России, на западе, развитие платформ для электронной коммерции
    .span4
      .theme-block.g-yellow
        %h4 Менеджмент в IT
        %p Организация IT-компании, кадры для IT, куда пойти работать
    .span4
      .theme-block.g-violin
        %h4 IT на службе общества
        %p Развитие IT в Ульяновске, государство и IT,  польза от IT