.row
  .span6
    %h4 Есть что рассказать?
    %p В этом году на конференции ожидается более 3000 участников и около 100 докладчиков со всей России. 
    %p И если у вас в копилке есть сумасшедший доклад и вам есть о чем рассказать ИТ-общественности, пишите на #{mail_to "info@nastachku.ru"}
  .span6
    %h4 Кого мы ждем?
    %p Хочешь знать, что будет завтра, чтобы использовать информационные технологии уже сегодня? 
    %p Тогда наше мероприятие для тебя! Ждем всех ИТ-неравнодушных.