.row
  .span6
    %h4 Что мы хотим сделать?
    %p Мероприятие для IT-шников, где можно узнать что-то новое, познакомиться с интересными людьми как из Ульяновска, так и со всей страны.
    %p Мероприятие планируется в формате конференции (т.е. параллельно на нескольких площадках выступают докладчики, проходят круглые столы, работает выставка).
  .span6
    %h4 Кто наша аудитория, кого мы ждём?
    %p Мероприятие будет интересно тем, кто каким-либо образом связывает свою жизнь с IT.
    %p Это и программисты, и веб-дизайнеры, и люди, которые хотят связать своё будущее с IT, и те, кто хотят знать, что будет завтра, чтобы использовать информационные технологии уже сегодня.