.row
  .span6
    %h4 Есть что рассказать?
    %p В этом году на конференции ожидается более 3000 участников и около 100 докладчиков со всей России. 
    %p Если у вас в копилке есть сумасшедший доклад и вам есть о чем рассказать ИТ-общественности, #{link_to "предложите его", 'mailto:pr@nastachku'} и выступите на конференции.
  .span6
    %h4 Как это было в прошлом году?
    %p Что такое #{link_to "«Стачка`2012»", "http://2012.nastachku.ru", target: "_blank"}? Это 1500 слушателей, 2000 on-line участников, 70 спикеров со всей России.
    %p Чего ждать от «Стачки`2013»? Приходите и мы узнаем это вместе!
