.row
  .span6
    %h4 Есть что рассказать?
    %p В этом году Стачка будет еще круче!
    %p Если у вас в копилке есть сумасшедший доклад и вам есть о чем рассказать ИТ-общественности, #{link_to "предложите его", 'mailto:pr@nastachku'} и выступите на конференции.
  .span6
    %h4 Как это было в прошлом году?
    %p Что такое #{link_to "«Стачка`2013»", "http://2013.nastachku.ru", target: "_blank"}? Это 3000 слушателей, 2000 on-line участников, 100 спикеров со всей России.
    %p Чего ждать от «Стачки`2014»? Приходите и мы узнаем это вместе!
