%br
= simple_form_for @code_activation_form, url: activate_account_tickets_path, method: :post, html: { class: 'form-type-login' } do |f|
  .layout-line
    = f.input :code, tabindex: 1, input_html: { class: 'input_type-1' }
    %br
    = f.button :submit, value: "Активировать", class: 'btn_main btn_main-auth', tabindex: 3
