
%h1 Участникам
.hero
  %h3.bender
    СТАЧКА в 2014 году вышла на международный уровень!
  %h3.bender
    СТОИМОСТЬ УЧАСТИЯ ЗА 2 ДНЯ СЕЙЧАС -
    %span.color
      = configus.platidoma.ticket_price_first_day + configus.platidoma.ticket_price_second_day
      = t('rub')
  %h3.bender
    Пускают ли на мероприятие без регистрации -
    %span.color нет
  %h3.bender
    Условия допуска -
    %span.color документ, удостоверяющий личность, предъявление номера (доступен в личном кабинете).

.border

= render partial: "form"
