.pagetitle
  .layout-line

    %h1 Участникам
    .hero
      %h3.bender
        Пускают ли на мероприятие без регистрации -
        %span.color нет
      %h3.bender
        Условия допуска -
        %span.color документ, удостоверяющий личность, предъявление номера (доступен в личном кабинете).

    .border

    = render partial: "form"
