// themes
.themes-talk {
  margin-bottom: 40px;
  .row {
    margin-bottom: 20px;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .theme-block {
    color: #fff;
    padding: 20px;
    min-height: 160px;
    padding-bottom: 10020px;
    margin-bottom: -10000px;
    h4 {
      color: #fff !important;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.g-blue {
  background-color: $blue;
}
.g-red {
  background-color: $red;
}
.g-green {
  background-color: $green;
}
.g-orange {
  background-color: $orange;
}
.g-yellow {
  background-color: $yellow;
}
.g-violin {
  background-color: $violin;
}
.g-disabled {
  background-color: $disabled;
}

// Schedule legend
.schedule-legend {
  margin-bottom: 40px;
  .item {
    .color-box {
      padding: 10px 20px;
      margin-bottom: 20px;
      border: 1px solid #666;
      h5 {
        color: #333;
      }
    }
  }
}

// Timetable
.awesome-timetable {
  width: 940px;
  padding: 30px 0;

  .area {
    float: left;
    height: $b_height * $timing_step;
    width: $area_width + px;
    text-align: center;
  }

  .timeline {
    float: left;
    width: $tl_width - 4 +px;
    padding-right: 4px;
    font-size: 12px;
    .b-quart {
      text-align: right;
      position: relative;
      z-index: 0;
      .lined {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 1px;
        width: $tt_width+px;
        font-size: 0;
        background-color: $td_color;
      }
    }
  }

  .timepad {
    width: $tp_width+px;
    margin-left: $tl_width+px;
    position: relative;
  }

  .b-quart {
    height: $b_height * $timing_step;
  }

  .area-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: none;
  }

  .event {
    width: $area_width + px;
    height: $b_height * $timing_step;
    background-color: #ccc;
    position: absolute;
    top: 0;
    color: #333 !important;
    @include box-sizing(border-box);
    padding: 6px 3px;
    font-size: 12px;
    font-family: Arial;
    line-height: 18px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #666;
    z-index: 10;
    .summary {
      display: block;
    }
    .buttons-group {
      display: inline-block;
      margin-bottom: 6px;
      margin-left: 2px;
    }
    .btn {
      padding: 0 6px;
      font-size: 11px;
    }
    .time {
      font-weight: bold;
      display: inline;
      .end-time {
        display: none;
      }
    }
    .caption {
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      padding: 0 3px;
      color: #000 !important;
      padding-bottom: 4px;
    }
    &.expand {
      height: auto !important;
      z-index: 100 !important;
    }
    .author {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      text-align: right;
      display: block;
      padding: 0 3px;
      line-height: 12px;
    }
    .company {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      display: block;
      padding: 0 3px;
      font-weight: bold;
      font-size: 11px;
    }
    &.break {
      background-color: #eee;
      border: 1px solid #ccc;
    }
    &.full-event {
      width: $tp_width + px;
      background-color: #eee;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 18px;
    }
  }
}

// Areas coordinates

@for $i from 1 through $areas_count {
  .event.area-#{$i} {
    left: $area_width * $i - $area_width + px;
  }
}

// Events start hour time
@for $i from $hour_start through $hour_end {
  .event.start-#{$i} {
    top: $b_height * 60 * ($i - $hour_start);
  }
}

$start_offset : 1;
@while $start_offset < 60 {
  .event.offset-#{$start_offset} {
    margin-top: $b_height * $start_offset / $step_offset_render;
    $start_offset : $start_offset + $step_offset_render;
  }
}

// Events continuance
$i : $min_speech_time;
@while $i <=  $max_speech_time {
  .event.long-#{$i} {
    height: $b_height * $i / $step_cont_render + 1;
  }
  .event.full-event.long-#{$i} {
    line-height: $b_height * $i / $step_cont_render - 11;
  }
  $i : $i + $step_cont_render;
}

@media (max-width: 940px) {
  .awesome-timetable {
    width: auto;
    .timeline,
    .timepad-areas {
      display: none;
    }
   .timepad {
      margin-left: 0;
      width: 100%;
    }
    .event {
      position: static;
      margin-top: 0 !important;
      height: auto !important;
      margin-bottom: 10px;
      width: 100% !important;
      cursor: default;
      .time .end-time,
      .summary,
      .caption,
      .author,
      .company {
        display: inline;
      }
      .caption,
      .author,
      .company {
        position: relative;
        top: 2px;
      }
      &:hover {
        .caption {
          text-decoration: none;
        }
      }
    }
    .area-name {
      display: block;
    }
  }
}

// Modals
.content {
  .modal-header {
    background-color: #7c7852;
    h3 {
      color: #fff !important;
    }
  }
  .modal-body {
    background-color: #d4724b;
    color: #fff;
  }
}
