.sinfo {
  h5 {
    line-height: 20px;
    margin-bottom: 10px;
    position: relative;
    top: -2px;
  }
  h6 {
    margin-bottom: 15px;
  }
  .pic {
    margin-bottom: 15px;
  }
}
.ainfo {
  margin-bottom: 20px;
}
.user-summary {
  width: 100%;
  @include box-sizing(border-box);
}
.formy-photo {
  .user-summary {
    height: 220px;
  }
}

//cocoon form
.formy-issue {
  input,
  textarea {
    width: 90%;
  }
  a {
    color: #000 !important;
  }
}

.add_fields {
  margin-top: 0 !important;
  .icon-plus {
    margin-left: 0;
    top: 0;
  }
}

// buttons group
.buttons-group {
  a {
    margin-top: 0 !important;
    text-decoration: none;
  }
  .votings-count,
  .btn {
    color: #000;
    &:active {
      box-shadow: none;
    }
  }
  .btn-pending {
    display: none;
  }
  .vote-link {
    .btn-vote-hover {
      background-color: #3fb618 !important;
      color: #fff;
    }
    .btn-unvote-hover {
      background-color: #ff0039 !important;
      color: #fff;
    }
  }
  .action-vote {
    .btn-vote-hover,
    .btn-unvote,
    .btn-unvote-hover {
      display: none;
    }
    &:hover {
      .btn-vote-hover {
        display: inline-block;
      }
      .btn-vote {
        display: none;
      }
    }
  }
  .action-unvote {
    .btn-unvote-hover,
    .btn-vote,
    .btn-vote-hover {
      display: none;
    }
    &:hover {
      .btn-unvote-hover {
        display: inline-block;
      }
      .btn-unvote {
        display: none;
      }
    }
  }
}
.lectures20 {
  .btn-state {
    width: 150px;
  }
}
.lectures {
  .btn-state {
    width: 90px;
  }
}
.lectures-at-schedule {
  .btn-state {
    width: 64px;
  }
}

// lectors
.workshop {
  position: relative;
  .col-l {
    width: 100%;
    &.thin {
      width: 47.5%;
    }
  }
}
.workshop p,
.workshop h6.grey {
  text-overflow: ellipsis;
  overflow: hidden;
}

.workshop h6.grey {
  white-space: pre-wrap;
}
.event-item {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f4f4f4;
}

// nav-list
.nav-list {
  >li {
    padding: 0 !important;
    margin-bottom: 4px;
    >a {
      padding-top: 6px;
      padding-bottom: 6px;
      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
    &.active {
      >a {
        background-color: #7c7852 !important;
        color: #fff !important;
        text-decoration: none !important;
      }
    }
  }
}

// bootstrap-affix
.b-affix {
  width: inherit;
  @include box-sizing(border-box);
  background-color: #f4f4f4 !important;
  &.top {
    position: fixed;
    top: 4px;
  }
  &.bottom {
    position: absolute;
    bottom: 0;
  }
}