.sinfo {
  h5 {
    line-height: 20px;
    margin-bottom: 10px;
    position: relative;
    top: -2px;
  }
  h6 {
    margin-bottom: 15px;
  }
  .pic {
    margin-bottom: 15px;
  }
}
.ainfo {
  margin-bottom: 20px;
}
.user-summary {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.formy-photo {
  .user-summary {
    height: 220px;
  }
}

//cocoon form
.formy-issue {
  input,
  textarea {
    width: 90%;
  }
  a {
    color: #000 !important;
  }
}

.add_fields {
  margin-top: 0 !important;
  .icon-plus {
    margin-left: 0;
    top: 0;
  }
}

// buttons group
.buttons-group {
  a {
    margin-top: 0 !important;
  }
  .votings-count,
  .btn {
    color: #000;
    &:active {
      box-shadow: none;
    }
  }
}

// lectors
.workshop {
  position: relative;
  .col-l {
    width: 100%;
    &.thin {
      width: 47.5%;
    }
  }
}
.workshop p,
.workshop h6.grey {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

// nav-list
.nav-list {
  >li {
    padding: 0 !important;
    margin-bottom: 4px;
    >a {
      padding-top: 6px;
      padding-bottom: 6px;
      &:hover {
        background: none;
        text-decoration: underline;
      }
    }
    &.active {
      >a {
        background-color: #7c7852 !important;
        color: #fff !important;
        text-decoration: none !important;
      }
    }
  }
}

// bootstrap-affix
.b-affix {
  width: 190px;
  padding-bottom: 20px;
  &.top {
    position: fixed;
    top: 4px;
  }
  &.bottom {
    position: absolute;
    bottom: 0;
  }
}