@media (max-width: 767px) {
  #reformal_tab {
    display: none !important;
  }
}

@media (max-width: 979px) {
  .navbar .nav.main-menu {
    text-align: left;
    text-align-last: left;
    line-height: 0;
    font-size: 1px;
    &:after {
      display: none;
    }
    >li {
      float: none !important;
      margin-right: 0 !important;
      display: block !important;
      text-align: left;
      vertical-align: top;
      &:last-child {
        text-align: left !important;
      }
    }
  }
}