// sponsors
.sponsors {
  margin-bottom: 20px;
  overflow: hidden;
}
.sponsors h4 {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold !important;
  margin-bottom: 12px !important;
}
.sponsors .left-column {
  width: 699px;
  border-right: 1px solid #e3e3e3;
  float: left;
}
.sponsors .right-column {
  width: 208px;
  padding-left: 32px;
  float: right;
}
.sponsors .logo-wrapper {
  border: 1px solid #e3e3e3;
  padding: 30px 0 30px 45px;
  margin-right: 40px;
}
.sponsors .line {
  margin-bottom: 35px;
}
.sponsors .line:last-child {
  margin-bottom: 0;
}
.sponsors .line img {
  margin-right: 44px;
  float: left;
}
.sponsors .line sup {
  float: left;
}
.sponsors .line a:last-child img {
  margin-right: 0;
}
.sponsors .first-line {
  height: 78px;
}
.sponsors .second-line {
  height: 42px;
}
.sponsors .third-line {
  height: 51px;
}
.sponsors .logo-srit {
  margin: 22px 0;
}

// info sponsors
.info-sponsors-first-line {
  height: 62px;
}
.info-sponsors-second-line {
  height: 57px;
}
.info-sponsors-third-line {
  height: 54px;
}
.info-sponsors-4th-line {
  height: 67px;
}
.info-sponsors-5th-line {
  height: 80px;
}
.info-sponsors-6th-line {
  height: 30px;
}

// star sponsors
.star-sponsors {
  .item {
    margin-bottom: 25px;
    position: relative;
    sup {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.sponsor-star {
  display: inline-block;
  font-size: 0;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(/assets/stars.png);
}
.sponsor-star.argentum {
  background-position: 0 0;
}
.sponsor-star.gold {
  background-position: 0 -14px;
}
.sponsor-star.red {
  background-position: 0 -28px;
}
.sponsor-star.violin {
  background-position: 0 -42px;
}
.sponsor-star.green {
  background-position: 0 -56px;
}
.legend {
  font-size: 12px;
  line-height: 18px;
  .sponsor-star {
    position: relative;
    top: 3px;
  }
}

// custom logo position
.platidoma {
  position: relative;
  top: -6px;
}
.ultop {
  position: relative;
  top: 10px;
}
.hackday {
  position: relative;
  top: -4px;
}
.ulpeople {
  position: relative;
  top: 9px;
}
.rubyflow {
  position: relative;
  top: -12px;
}
.softline {
  position: relative;
  top: 22px;
}
.allintop {
  position: relative;
  top: -4px;
}
.free-lance {
  position: relative;
  top: 26px;
}
.dailycomm {
  position: relative;
  top: 12px;
}