// color scheme

// Nastachku brand colors
$main_color_1: #d4724b;
$main_color_2: #7c7852;

// Color areas at themes block & timetable
$blue: #9d0102;
$red: #019d9b;
$green: #d0ce09;
$orange: #839d01;
$yellow: #70019d;
$violin: #016f9d;
$disabled: #ccc;

// Timetable
$tt_width : 940; // total table width
$tl_width : 40; // timeline column width
$tp_width : $tt_width - $tl_width; // timepad column width

$areas_count : 6; // Number of rooms
$area_width : $tp_width / $areas_count;

$b_height : 2px; // height of 1-minute block
$timing_step: 15; // step for drawing timeline (min)
$td_color : #ccc; // Time delimiters color
$hour_start : 11; // Event begin at
$hour_end : 20; // Event till this time

$min_speech_time : 15; // The shortest speech time
$max_speech_time : 240; // The longest speech time

$step_offset_render: 1; // The start time accuracy (min)
$step_cont_render: 1; // The continuance time accuracy (min)