%h1= @topic

.row
  .span12.workshop
    - @lectors.each do |lector|
      .row
        .span3
          .pic
          - if lector.photo.url
            = image_tag(lector.photo.url)
        .span9
          %h5= lector.full_name
          %h6.grey= lector.about
          -#.social
          -#  %a.tip{"data-original-title" => "Facebook", :href => "#"}
          -#    %i.icon-facebook.facebook
        .clearfix
      %hr