.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h4.pagetitle__title.pagetitle__title--margin.title.title--border Digital-партнер
.mainpage__org
  .layout-line
    #general_info_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        = render_sponsors(Sponsors.digital)
