.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Партнёр по e-mail маркетингу
  .layout-line
    #email_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.epochta.ru", target: "_blank" do
            = image_tag "logos/epochta.png"
