%footer
  .container
    .row
      .span12
        .copy
          %h5
            %span.color «Стачка»
          %p
            Copyright © 2012 – 2013
            %a{:href => "#"}
              = t 'global.footer.company'
    .clearfix

= javascript_include_tag "application"