%footer
  .container
    .row
      .span3
        .copy
          %h5
            %span.color «Стачка»
          %p
            Copyright © 2012 – 2013
      .span9
        = render 'layouts/web/shared/social'
    .clearfix

= javascript_include_tag "web/application"