%footer
  .line
  .container
    .row
      .span4
        .copy
          %h5
            %span.color «Стачка»
          %p
            Copyright © 2012 – 2013
      .span8
        = render 'layouts/web/shared/social'
    .clearfix

= javascript_include_tag "application"