%footer
  .container
    .row
      .span3
        .copy
          %h5
            %span.color «Стачка»
          %p
            Copyright ©
            = copyright_notice_year_range(2012)
      .span9
        = render 'layouts/web/shared/social'
    .clearfix

= javascript_include_tag "web/application"
