.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Генеральный спонсор
.mainpage__sponsors
  .layout-line
    #general_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        = render_sponsors(Sponsors.general)
