.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Генеральные информационные партнеры
  .layout-line
    #general_info_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.cmsmagazine.ru/", target: "_blank" do
            = image_tag "logos/cmsmagazine.png"
        %li.touchcarousel-item
          %div
          = link_to "http://adindex.ru/", target: "_blank" do
            = image_tag "logos/adindex.png"
