.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Золотой спонсор
.mainpage__sponsors
  .layout-line
    #gold_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://www.ulzapad.ru", target: "_blank" do
            = image_tag "logos/ulzapad.jpg"
