<!-- Header Starts -->
%header
  .container
    .row
      .span2
        .logo
          %h1
            %a{ href: root_path }
              = image_tag "/assets/stachka_logo.png", alt: "", width: "136", height: "69"

      .span10
        .info
          %h3
            Ульяновск 
            %span{ class: "color" }
              12-13 апреля 2013
            Ленинский мемориал

