<!-- Header Starts -->
%header
  .container
    .row
      .span2
        .logo
          %h1
            %a{ href: root_path }
              = image_tag "/images/logo.gif", alt: "", width: "137", height: "70"

      .span10
        .info
          %h3
            Ульяновск 
            %span{ class: "color" }
              12-13 апреля 2013
            Ленинский мемориал

