<!-- Header Starts -->
%header
  .container
    .row
      .span4
        .logo
          %h1
            %a{ href: root_path }
              = image_tag "/images/logo.gif", alt: "", width: "137", height: "70"

      .span8
        .info
          %h4
            Ульяновск 

            %span{ class: "color" }
              12-13 апреля 2013

            дом пионеров

