%header{ itemscope: "", itemtype: "http://schema.org/LocalBusiness" }
  .layout-line
    .header__logo
      .header__logo__cont
        .header__logo__cont-logo
          %a{ href: "/", title: "Стачка!" }
            = image_tag "logo.png", alt: "Стачка!"
          %span
        .header__logo__cont-prev
          %a{ href: "#2012", title: "2012" } 2012
          %a{ href: "#2013", title: "2013" } 2013
    %span.btn_main-menu
    %nav.header__nav
      %a{ href: "stachka.html", title: "Стачка" } Стачка
      %a{ href: "lectures.html", title: "Доклады" } Доклады
      %a{ href: "user_lectures.html", title: "Доклады 2.0" } Доклады 2.0
      %a{ href: "program.html", title: "Программа" } Программа
      %a{ href: "members.html", title: "Участники" } Участники
      %a{ href: "contacts.html", title: "Контакты" } Контакты
    .header__login
      %span.btn_main.btn_main-auth.open_popup{ "data-popup" => "auth" } Войти на сайт
