.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Лендинг-партнёр
  .layout-line
    #landing_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://promo-z.ru/", target: "_blank" do
            = image_tag "logos/promoz.jpg"
