.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h4.pagetitle__title.pagetitle__title--margin.title.title--border Организаторы
.mainpage__org
  .layout-line
    #org_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        = render_sponsors(Sponsors.organizers)
