.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Организаторы
.mainpage__org
  .layout-line
    #org_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        = render_sponsors(Sponsors.organizers)
