.clearfix
.sponsors
  .border
  .column
    %h4 Партнёры

    .logo-wrapper
      .line
        %a{ href: "http://creater.ru/", target: "_blank" }
          %img.creater{ src: "/img/logos/creater.jpg", width: 118, height: 55, alt: "Веб-студия Creater" }

