.infoline
  .layout-line
    %p.infoline__left
      %b 10-11 апреля 2015 года,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      - unless current_user
        = link_to "Регистрация", new_user_path
        = link_to "Афтепати", page_path('afterparty')
        = link_to "Купить билет (#{Pricelist.ticket_price}р.)", buy_now_path
