.infoline
  .layout-line
    %p.infoline__left
      %b 11-12 апреля,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      Стоимость участия на данный момент -
      %b
        = configus.platidoma.ticket_price
        p
.mainadv.mainadv__mini
