.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Платиновые спонсоры
.mainpage__sponsors
  .layout-line
    #platin_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        = render_sponsors([{url: 'http://restream.rt.ru/', logo: 'logos/restream.svg'}])
