.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h4.pagetitle__title.pagetitle__title--margin.title.title--border Платиновые спонсоры
.mainpage__sponsors
  .layout-line
    #platin_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        = render_sponsors([{url: 'http://restream.rt.ru/', logo: 'logos/restream.svg'}])
