.infoline
  .layout-line
    %p.infoline__left
      %b 11-12 апреля,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      Стоимость участия на данный момент -
      %b
        = configus.platidoma.ticket_price
        p
- if current_user_attending_to_conference? or not is_main_page?
  .mainadv.mainadv__mini
- else is_main_page?
  .mainadv
    .mainadv__banner__dollar
      %h2.plaha_main_text
        = t('.buy_a_ticket')
      %p
        Стоимость участия -
        %b 1500
        %span.rouble i
        %b / 2 дня
      = link_to t(".buy_a_ticket"), ticket_buy_account_buy_path, method: :put
