.infoline
  .layout-line
    %p.infoline__left
      %b 11-12 апреля,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      Стоимость участия на данный момент -
      %b
        = configus.platidoma.ticket_price
        p
- if is_main_page?
  .mainadv
    .mainadv__banner
      %h2 Stop working!
      %p
        Стоимость участия до 1 апреля -
        %b 1100
        %span.rouble i
        %b / 2 дня
        %br/
        Стоимость участия с 2 апреля -
        %b 1500
        %span.rouble i
        %b / 2 дня
      - unless signed_in?
        %a{ href: new_user_path, title: "Зарегистрироваться" } Зарегистрироваться
- else
  .mainadv.mainadv__mini
