.infoline
  .layout-line
    %p.infoline__left
      %b 22-23 апреля 2016 года,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      -# = link_to "Культурная программа", page_path('stroll')
      -# = link_to "Проезд и проживание", page_path('location')
      = link_to "Афтепати", page_path('afterparty')
      - unless current_user
        = link_to "Регистрация", new_user_path
        = link_to "Купить билет (#{Pricelist.ticket_price}р.)", buy_now_path
