.infoline
  .layout-line
    %p.infoline__left
      %b 11-12 апреля,
      Ленинский мемориал, Ульяновск
    %p.infoline__right
      Стоимость участия на данный момент -
      %b
        = configus.platidoma.ticket_price
        p
.mainadv
  .mainadv__banner__boy
    %h2.boy_shirt_text
      = t('.boy_shirt_costs')
      %span.rouble i
    = link_to t('.buy_shirt'), "#{edit_account_path}#products"
