.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Платиновый спонсор
.mainpage__sponsors
  .layout-line
    #platin_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://ibs.ru/", target: "_blank" do
            = image_tag "logos/IBS_logo.jpg"
