:javascript
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=RzT293HGfSpmGbyxcPI4yKDh/l7A6B6Jz3s1wjhDJHUscnoHWgnB*t0MTJvOayjt1b6i7HnPooUKoGpJnTVXP21902O1IlBB3BDx6gYchlpLDLXIye8siAlXTnKh93kG7uU14XOhZXjDRF/5Py8bFx8BE6lKYH7sbqN3s2HpFJw-&pixel_id=1000077545';
