:javascript
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=wbAUME*uLnI98lxo*AJqZUO/YCE/4*NwrcZHQfXekkR53iiFe5eU8LxEVdIfQSm4CNQXdnMkdFk2q5I8DU4kY98xbkZZD9WpwNk0jh/gpPIA0q6T4GulNUKrwq3gcNlOwr9GsZnbP2hzPACbmKBd6ki2FGsgbUMsTVVLwi/qli0-&pixel_id=1000075237'
