:javascript
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=BqakqSRVFq8Ws3xzcJAluKXJY8hbvoge/ybp9sWRnrHCM*kEwND0rPx6TAEthAbPMK5KFhH18CuWZgzqbM/JfDy*CXh9omab2iGvvBv34ZJHUMgMQlrcVEINbKovTF1CGX60I35DItstw7*EbSZhDaVCiqyOZ30bvuu2S8afkFc-'
