.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Партнер по безопасности
  .layout-line
    #secure_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "https://sitesecure.ru/", target: "_blank" do
            = image_tag "logos/site-secure.png"
