.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title SEO-партнер
  .layout-line
    #general_info_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://seo.ru/", target: "_blank" do
            = image_tag "logos/seoru.png"
