.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Серебряные спонсоры
.mainpage__sponsors
  .layout-line
    #silver_sponsors_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://litebox.ru/", target: "_blank" do
            = image_tag "logos/litebox.svg"
