%nav.social-share-links
  %ul
    %li.twitter
      %a.twitter-share-button{"data-hashtags" => "nastachku", "data-lang" => "en", "data-text" => "Мне нравится конференция СТАЧКА - 2013!", "data-via" => "nastachku", :href => "https://twitter.com/share"} Tweet
    %li.facebook
      %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fnastachku.ru&send=false&layout=button_count&width=450&show_faces=false&font=arial&colorscheme=light&action=like&height=21&appId=158311267605711", :style => "border:none; overflow:hidden; width:120px; height:21px;"}

// Twitter share button script
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
