.clearfix
%br
.border
.sponsors
  .left-column
    %h4 Организаторы 

    %a{:href => "#", :target => "_blank"}
      %img{:src => "/images/logo-srit.jpg", :width => 440, :height => 48, :alt => "НП СРИТ", :class => "logo-srit"}

    .logo-wrapper
      .line.first-line
        %a{:href => "http://m-st.ru/", :target => "_blank"}
          %img{:src => "/images/logo-mst.jpg", :width => 108, :height => 78, :alt => "MST Digital Agency"}
        %a{:href => "http://i-dt.ru/", :target => "_blank"}
          %img{:src => "/images/logo-interra.jpg", :width => 86, :height => 78, :alt => "interra-group"}
        %a{:href => "http://itmcompany.ru/", :target => "_blank"}
          %img{:src => "/images/logo-itm.jpg", :width => 124, :height => 78, :alt => "ITM Company"}
        %a{:href => "http://simtech.ru/", :target => "_blank"}
          %img{:src => "/images/logo-simtech.jpg", :width => 131, :height => 78, :alt => "Simtech"}
      .line.second-line
        %a{:href => "http://kaize.ru/", :target => "_blank"}
          %img{:src => "/images/logo-kaize.jpg", :width => 130, :height => 42, :alt => "Кайдзен"}
        %a{:href => "http://simbirsoft.com/", :target => "_blank"}
          %img{:src => "/images/logo-simbirsoft.jpg", :width => 140, :height => 42, :alt => "SimbirSoft"}
        %a{:href => "http://mymediacompany.ru/", :target => "_blank"}
          %img{:src => "/images/logo-mymedia.jpg", :width => 147, :height => 42, :alt => "My Media Company"}
      .line.third-line
        %a{:href => "http://turnkeye.com/", :target => "_blank"}
          %img{:src => "/images/logo-turnkey.jpg", :width => 155, :height => 51, :alt => "Turnkey"}
        %a{:href => "http://platidoma.ru/", :target => "_blank"}
          %img.platidoma{:src => "/images/logo-platidoma.jpg", :width => 118, :height => 55, :alt => "ПлатиДома"}
        %a{:href => "http://creater.ru/", :target => "_blank"}
          %img{:src => "/images/logo-creater.jpg", :width => 179, :height => 51, :alt => "Creater"}

    %br
    %h4 Информационные партнеры
    .logo-wrapper
      .line.info-sponsors-first-line
        %a{:href => "http://ultop.ru/", :target => "_blank"}
          %img.ultop{:src => "/images/logo-ultop.jpg", :width => 160, :height => 40, :alt => "Ultop"}
        %a{:href => "http://weblancer.net/", :target => "_blank"}
          %img{:src => "/images/logo-weblancer.jpg", :width => 119, :height => 62, :alt => "Weblancer"}
        %a{:href => "http://reg.ru/", :target => "_blank"}
          %img{:src => "/images/logo-regru.jpg", :width => 174, :height => 62, :alt => "Reg.ru"}

        -#%a{:href => "http://mkechinov.ru/", :target => "_blank"}
          -#%img{:src => "/images/logo-kechinov.jpg", :width => 104, :height => 62, :alt => "Mkechinov"}

      .line.info-sponsors-second-line
        %a{:href => "http://www.cmsmagazine.ru/", :target => "_blank"}
          %img{:src => "/images/logo-cmsmagazine.jpg", :width => 230, :height => 57, :alt => "CMSmagazine"}
        %a{:href => "http://hackday.ru/", :target => "_blank"}
          %img.hackday{:src => "/images/logo-hackday.jpg", :width => 178, :height => 54, :alt => "Hackday"}

      .line.info-sponsors-third-line
        %a{:href => "http://www.cnews.ru/", :target => "_blank"}
          %img.cnews{:src => "/images/logo-cnews.jpg", :width => 144, :height => 54, :alt => "Cnews"}
        %a{:href => "http://ul-people.ru/", :target => "_blank"}
          %img.ulpeople{:src => "/images/logo-ulpeople.jpg", :width => 160, :height => 36, :alt => "ul-people"}
        %a{:href => "http://rubyflow.ru/", :target => "_blank"}
          %img.rubyflow{:src => "/images/logo-rubyflow.png", :width => 160, :height => 78, :alt => "RubyFlow"}


      .line.info-sponsors-4th-line
        %a{:href => "http://rubyjobs.ru/", :target => "_blank"}
          %img.rubyjobs{:src => "/images/logo-rubyjobs.png", :width => 77, :height => 67, :alt => "RubyJobs"}
        %a{:href => "http://softline.ru/", :target => "_blank"}
          %img.softline{:src => "/images/logo-softline.png", :width => 143, :height => 28, :alt => "SoftLine"}
        %a{:href => "http://www.allintop.ru/", :target => "_blank"}
          %img.allintop{:src => "/images/logo-allintop.png", :width => 155, :height => 60, :alt => "All-In-Top"}

      .line.info-sponsors-5th-line
        %a{:href => "http://www.epochta.ru/", :target => "_blank"}
          %img{:src => "/images/logo-epochta.png", :width => 80, :height => 80, :alt => "ePochta"}
        %a{:href => "http://www.free-lance.ru/", :target => "_blank"}
          %img.free-lance{:src => "/images/logo-freelanceru.png", :width => 200, :height => 24, :alt => "Free-lance.ru"}
        %a{:href => "http://www.dailycomm.ru/", :target => "_blank"}
          %img.dailycomm{:src => "/images/logo-dailycomm.jpeg", :width => 180, :height => 54, :alt => "DailyComm"}

      .line.info-sponsors-6th-line
        %a{:href => "http://www.pr73.ru/", :target => "_blank"}
          %img{:src => "/images/logo-cru.png", :width => 181, :height => 30, :alt => "Ц.Р.У."}

  .right-column
    %h4 Спонсоры
    .star-sponsors
      .item
        %a{:href => "http://avito.ru/", :target => "_blank"}
          %img{:src => "/images/sponsor-avito.jpg", :width => 166, :height => 66, :alt => "Avito"}
          %sup
            %i.sponsor-star.gold
      .item
        %a{:href => "http://www.aviasales.ru/", :target => "_blank"}
          %img{:src => "/images/sponsor-aviasales.jpg", :width => 198, :height => 66, :alt => "Aviasales"}
          %sup
            %i.sponsor-star.argentum
      .legend
        %i.sponsor-star.argentum
        — серебряный спонсор
        %br
        %i.sponsor-star.gold
        — золотой спонсор
    %br
    %br
    %h4
      Партнеры
    .star-sponsors
      .item
        %a{:href => "http://it.ulgov.ru/", :target => "_blank"}
          %img{:src => "/images/logo-ulgov.gif", :width => 73, :height => 62, :alt => "Министерство Ульяновской области по развитию информационных технологий и электронной демократии"}
      .item
        %a{:href => "http://mosaica.ru/", :target => "_blank"}
          %img{:src => "/images/logo-mosaica.jpg", :width => 180, :height => 40, :alt => "Мозаика"}
        %sup
          %i.sponsor-star.red
      .item.itmozg
        %a{:href => "http://itmozg.ru/", :target => "_blank"}
          %img{:src => "/images/logo-itmozg.jpg", :width => 136, :height => 112, :alt => "IT-mozg"}
        %sup
          %i.sponsor-star.violin
      .item.superjob
        %a{:href => "http://www.superjob.ru/", :target => "_blank"}
          %img{:src => "/images/logo-superjob.png", :width => 160, :height => 44, :alt => "SuperJob"}
        %sup
          %i.sponsor-star.green

    .legend
      %i.sponsor-star.red
      — главный информационный партнер
      %br
      %i.sponsor-star.violin
      — HR-партнер
      %br
      %i.sponsor-star.green
      — генеральный HR-партнер