.sponsors
  .left-column
    %h4 Организаторы 

    %a{:href => "#", :target => "_blank"}
      %img{:src => "/images/logo-srit.jpg", :width => 440, :height => 48, :alt => "НП СРИТ", :class => "logo-srit"}

    .logo-wrapper
      .line.first-line
        %a{:href => "http://m-st.ru/", :target => "_blank"}
          %img{:src => "/images/logo-mst.jpg", :width => 108, :height => 78, :alt => "MST Digital Agency"}
        %a{:href => "http://i-dt.ru/", :target => "_blank"}
          %img{:src => "/images/logo-interra.jpg", :width => 86, :height => 78, :alt => "interra-group"}
        %a{:href => "http://itmcompany.ru/", :target => "_blank"}
          %img{:src => "/images/logo-itm.jpg", :width => 124, :height => 78, :alt => "ITM Company"}
        %a{:href => "http://simtech.ru/", :target => "_blank"}
          %img{:src => "/images/logo-simtech.jpg", :width => 131, :height => 78, :alt => "Simtech"}
      .line.second-line
        %a{:href => "http://kaize.ru/", :target => "_blank"}
          %img{:src => "/images/logo-kaize.jpg", :width => 130, :height => 42, :alt => "Кайдзен"}
        %a{:href => "http://simbirsoft.com/", :target => "_blank"}
          %img{:src => "/images/logo-simbirsoft.jpg", :width => 140, :height => 42, :alt => "SimbirSoft"}
        %a{:href => "http://mymediacompany.ru/", :target => "_blank"}
          %img{:src => "/images/logo-mymedia.jpg", :width => 147, :height => 42, :alt => "My Media Company"}
      .line.third-line
        %a{:href => "http://turnkeye.com/", :target => "_blank"}
          %img{:src => "/images/logo-turnkey.jpg", :width => 151, :height => 51, :alt => "Turnkey"}
        %a{:href => "http://platidoma.ru/", :target => "_blank"}
          %img{:src => "/images/logo-platidoma.jpg", :width => 144, :height => 51, :alt => "ПлатиДома"}
        %a{:href => "http://creater.ru/", :target => "_blank"}
          %img{:src => "/images/logo-creater.jpg", :width => 179, :height => 51, :alt => "Creater"}

  .right-column
    %h4 Генеральный спонсор
    %a{:href => "http://avito.ru", :target => "_blank"}
      %img{:src => "/images/logo-avito.jpg", :width => 168, :height => 72, :alt => "Avito"}