.pagetitle.mainpage__title.pagetitle__withoutborder
  .layout-line
    %h1.pagetitle__title Стратегические партнёры
.mainpage__org
  .layout-line
    #strategy_partners_logos.company__logos.logos_carousel.touchcarousel
      %ul.touchcarousel-container
        %li.touchcarousel-item
          %div
          = link_to "http://ulgov.ru/", target: "_blank" do
            = image_tag "logos/ulgov.jpg"
        %li.touchcarousel-item
          %div
          = link_to "http://e-ul.ru", target: "_blank" do
            = image_tag "logos/el_ul.jpg"
