%h3.ticket_paid
  Вы купили билет на афтепати!
В пятницу, 11 апреля мы ждем вас на СТАЧКА-party!
%br
Это отличная возможность завести новые знакомства с лучшими людьми IT-сферы, пообщаться за бокалом шампанского со спикерами и просто приятно провести время!
%br
В стоимость билета включается: вход, выпивка, закуска, развлекательная программа от организаторов и бесконечное количество положительных эмоций.
%br
%br
P.S. Билеты найдут своих законных обладателей в день конференции - 11 апреля.
