.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs#tabs
      %dt.tabs__title#user_attributes_title Личные данные
      %dd.tabs__content#user_attributes
        = render "user_attributes"
      %dt.tabs__title#orders_title Заказы
      %dd.tabs__content#orders
        = render "orders"
      / %dt.tabs__title#products_title Товары
      / %dd.tabs__content#products
      /   = render "products"

:javascript
  if ($("#two_days")) {
    $("#two_days").attr('checked', true);
    if ($('#two_days').is(':checked')) {
        $('#submit_order').attr("disabled", false);
    }
    var cost = parseInt($('#ticket_price_score').text()) ? parseInt($('#ticket_price_score').text()) : 0;
    $("#total_score").text(cost);
  }

  if ("#{@discount}" != "") {
      $("#orders").addClass("selected");
      $("#orders_title").addClass("selected");
  } else if (window.location.hash == "") {
    $("#user_attributes").addClass("selected");
    $("#user_attributes_title").addClass("selected");
  } else if (window.location.hash == "#orders") {
      $("#orders").addClass("selected");
      $("#orders_title").addClass("selected");
  } else {
    $("#products").addClass("selected");
    $("#products_title").addClass("selected");
  }
