.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs#tabs
      %dt.tabs__title#user_attributes_title Личные данные
      %dd.tabs__content#user_attributes
        = render "user_attributes"
      %dt.tabs__title#shop_title Магазин
      %dd.tabs__content#shop
        - if auth_cs_cart_valid_user?(current_user)
          = render "shop"
        - else
          Пожалуйста, укажите в личных данных ваш email.

:javascript
  if ($("#two_days")) {
    $("#two_days").attr('checked', true);
    if ($('#two_days').is(':checked')) {
        $('#submit_order').attr("disabled", false);
    }
    var cost = parseInt($('#ticket_price_score').text()) ? parseInt($('#ticket_price_score').text()) : 0;
    $("#total_score").text(cost);
  }

  if (window.location.hash == "#shop") {
   $("#shop").addClass("selected");
   $("#shop_title").addClass("selected");
  } else {
    $("#user_attributes").addClass("selected");
    $("#user_attributes_title").addClass("selected");
  }
