.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs
      %dt.tabs__title.selected Личные данные
      %dd.tabs__content.selected
        = render "user_attributes"
      %dt.tabs__title Заказы
      %dd.tabs__content
        = render "orders"
      %dt.tabs__title Товары
      %dd.tabs__content
        = render "products"
