.content.personal
  .content__tabs__line
  .layout-line
    %dl.content__tabs#tabs
      %dd.tabs__content#user_attributes.selected
        = render "user_attributes"

:javascript
  if ($("#two_days")) {
    $("#two_days").attr('checked', true);
    if ($('#two_days').is(':checked')) {
        $('#submit_order').attr("disabled", false);
    }
    var cost = parseInt($('#ticket_price_score').text()) ? parseInt($('#ticket_price_score').text()) : 0;
    $("#total_score").text(cost);
  }
