.tygh#tygh_container
:javascript
  (function() {
    var url = 'https:' == document.location.protocol ? 'https%3A%2F%2Fshop.nastachku.ru' : 'http%3A%2F%2Fshop.nastachku.ru';
    var cw = document.createElement('script'); cw.type = 'text/javascript'; cw.async = true;
    cw.src = unescape(url) + '/js/tygh/init.js?layout=7';
    document.getElementById('tygh_container').appendChild(cw);
  })();
