.tygh#tygh_container
:javascript
  (function() {
  var url = 'https:' == document.location.protocol ? 'https%3A%2F%2Fnastachku.cs-cart.ru' : 'http%3A%2F%2Fnastachku.cs-cart.ru';
  var cw = document.createElement('script'); cw.type = 'text/javascript'; cw.async = true;
  cw.src = unescape(url) + '/js/tygh/init.js?layout=13';
  document.getElementById('tygh_container').appendChild(cw);
  })();
