// sponsors
.sponsors {
  margin-bottom: 20px;
  overflow: hidden;
  .column {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}
.sponsors h4 {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold !important;
  margin-bottom: 12px !important;
}
.sponsors .left-column {
  width: 699px;
  border-right: 1px solid #e3e3e3;
  float: left;
}
.sponsors .right-column {
  width: 208px;
  padding-left: 32px;
  float: right;
}
.sponsors .logo-wrapper {
  border: 1px solid #e3e3e3;
  padding: 30px 0px 30px 45px;
  margin-right: 40px;
  overflow: hidden;
}
.sponsors .line img {
  margin-right: 44px;
  display: inline-block;
  padding: 15px 0;
  vertical-align: middle;
  position: relative;
}
.sponsors .line sup {
  float: left;
}
.sponsors .line a:last-child img {
  margin-right: 0;
}
.sponsors .logo-srit {
  margin: 22px 0;
}

// star sponsors
.star-sponsors {
  .item {
    margin-bottom: 30px;
    position: relative;
    sup {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.sponsor-star {
  display: inline-block;
  font-size: 0;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url(/assets/stars.png);
}
.sponsor-star.argentum {
  background-position: 0 0;
}
.sponsor-star.gold {
  background-position: 0 -14px;
}
.sponsor-star.red {
  background-position: 0 -28px;
}
.sponsor-star.violin {
  background-position: 0 -42px;
}
.sponsor-star.green {
  background-position: 0 -56px;
}
.sponsor-star.bordo {
  background-position: 0 -70px;
}
.legend {
  font-size: 12px;
  line-height: 18px;
  .sponsor-star {
    position: relative;
    top: 3px;
  }
}

// custom logo position
.creater {
  top: -6px;
}
.platidoma {
  top: -16px;
}
.ulpeople {
  top: 6px;
}
.regru {
  top: -2px;
}
.rubyjobs {
  top: -6px;
}
.allintop {
  top: -8px;
}
.cru {
  padding-top: 10px;
}

@media (max-width: 960px) {
  .sponsors {
    .column {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .left-column {
      width: 100%;
      float: none;
      border-right: none;
      margin-bottom: 40px;
    }
    .logo-wrapper {
      margin-right: 0;
    }
    .right-column {
      width: 100%;
    }
    .star-sponsors {
      .item {
        display: inline-block;
        padding-right: 30px;
        margin-right: 40px;
      }
    }
  }
}
