// Place all the styles related to the admin/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require_tree .

.controls textarea {
  height: 150px;
}

.controls textarea:focus {
  height: 300px;
}

.one_column_form {
  width: 600px;
}

.one_column_form input {
  width: 100%;
}

.one_column_form textarea {
  width: 100%;
}

.one_column_form select {
  width: 100%;
}

.plaha_main_text_buy_ticket {
  font-size: 5.575em !important;
}

.plaha_main_text_waiting_for_you {
  font-size: 3.875em !important;
}
