// Place all the styles related to the admin/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require ./accounts
//= require ./fonts
//= require ./pages
//= require ./schedules
//= require ./sections
//= require ./styles
//= require ./user_lectures
//= require ./users
//= require ./account/discounts
//= require ./account/lectures
//= require ./account/yandexkassa

.controls textarea {
  height: 150px;
}

.controls textarea:focus {
  height: 300px;
}

.one_column_form {
  width: 600px;
}

.one_column_form input {
  width: 100%;
}

.one_column_form textarea {
  width: 100%;
}

.one_column_form select {
  width: 100%;
}

.plaha_main_text_buy_ticket {
  font-size: 5.575em !important;
}

.plaha_main_text_waiting_for_you {
  font-size: 3.875em !important;
}

.boy_shirt_text {
  font-size: 2.4em !important;
}

.girl_shirt_text {
  font-size: 2.4em !important;
}

.striked {
  text-decoration: line-through;
}

// за неимением лучшего стащил эту кислоту из vendor/assets/stylesheets/mania-style/bootstrap.css
.alert{padding:8px 35px 8px 14px;margin-bottom:20px;background-color:#ff7518;border:1px solid transparent;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;text-align:center;}
.alert,.alert h4{color:#ffffff;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#3fb618;border-color:transparent;color:#ffffff;}
.alert-success h4{color:#ffffff;}
.alert-danger,.alert-error{background-color:#ff0039;border-color:transparent;color:#ffffff;}
.alert-danger h4,.alert-error h4{color:#ffffff;}
.alert-info{background-color:#9954bb;border-color:transparent;color:#ffffff;}
.alert-info h4{color:#ffffff;}
