/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ./bootstrap_and_overrides
 *= require chosen
 *= require select2
 *= require bootstrap-datetimepicker.min
 */

body {
    padding-top: 60px;
}
.span-nomargin {
  margin-left: 0 !important;
}
form.nomargin {
  margin-bottom: 0;
}
.controls .datetimepicker .span7 {
  width: 628px;
}
.nowrap {
  white-space: nowrap;
}
label.checkbox {
  min-height: auto;
}

.wide-input {
  width: 100%;
}
.clearfix {
  float: none;
}

.input-control {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 4px 6px;
  height: 20px;
  line-height: 20px;
  color: #555555;
  margin-left: 0;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  float: none;
}
.input-control.span7 {
  width: 656px;
}
.input-control.disable {
  cursor: not-allowed;
  background-color: #eee;
}
.red {
  color: red;
}
.chosen_select {
  width: 100%;
}
