production:
  facebook:
    app_id: ''
    app_secret: ''

  twitter:
    key: ''
    secret: ''

  platidoma:
    host: ''
    shop_id: 3
    login: ''
    gate_password: ''

  timepad:
    maillist_add_items_url: 'http://timepad.ru/api/maillist_add_items/'
    organization_id: 1
    maillist_id: 1
    api_key: ''

staging:
  twitter:
    key: ''
    secret: ''

  basic_auth:
    username: ''
    password: ''

  facebook:
    app_id: ''
    app_secret: ''

  platidoma:
    host: ''
    shop_id: 7
    login: ''
    gate_password: ''

  timepad:
    maillist_add_items_url: 'http://timepad.ru/api/maillist_add_items/'
    organization_id: 1
    maillist_id: 1
    api_key: ''


development:
  twitter:
    key: ''
    secret: ''

  facebook:
    app_id: ''
    app_secret: ''

  platidoma:
    host: ''
    shop_id: 7
    login: ''
    gate_password: ''

  timepad:
    maillist_add_items_url: 'http://timepad.ru/api/maillist_add_items/'
    organization_id: 1
    maillist_id: 1
    api_key: ''