production:
  facebook:
    app_id: ''
    app_secret: ''

  twitter:
    key: ''
    secret: ''

  platidoma:
    host: ''
    shop_id: 3
    login: ''
    gate_password: ''

staging:
  twitter:
    key: ''
    secret: ''

  basic_auth:
    username: ''
    password: ''

  facebook:
    app_id: ''
    app_secret: ''

  platidoma:
    host: ''
    shop_id: 7
    login: ''
    gate_password: ''


development:
  twitter:
    key: ''
    secret: ''

  facebook:
    app_id: ''
    app_secret: ''

  platidoma:
    host: ''
    shop_id: 7
    login: ''
    gate_password: ''
