@charset "utf-8";
html{height: 100%;}
body{ padding:0; margin:0; position: relative;height: auto !important;min-height: 100%; }
*{ margin:0; padding:0; }
img{ border:none; }
input, textarea {outline:none;}
