.page-header
  %h1=t '.title', :default => t('helpers.titles.index', :default => 'Главная')

  - unless signed_in?
    %legend= t '.login'
    = render "web/shared/login_form"

    %legend= t '.registration'
    = render "web/shared/registration_form"
