= simple_form_for [:admin, @workshop], :html => { :class => 'form-horizontal' } do |f|

  = f.input :title      

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel'), admin_workshops_path, :class => 'btn'
