.page-header
  %h1=t '.title'

= link_to t('.new'), new_admin_workshop_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= Workshop.human_attribute_name :title
      %th
  %tbody
    - @workshops.each do |workshop|
      %tr
        %td= link_to workshop.title, edit_admin_workshop_path(workshop)
        %td
          .pull-right.btn-group
            = link_to edit_admin_workshop_path(workshop), class: 'btn btn-mini' do
              %i.icon-pencil
            -#= link_to admin_workshop_path(workshop), class: 'btn btn-mini', method: :delete do
            -#  %i.icon-trash