html,
body {
	height: 100%;
	border: none !important;
}

.main {
	min-height: 100%;
}
.main > .container {
	padding-bottom: 126px;
}
.formy,
.formy h5 {
	color: #000 !important;
	background: #fff !important;
}
.formy a {
	color: #333 !important;
}
h1 {
	margin-bottom: 30px !important;
}
header {
	border: none !important;
}
header .info {
	padding-top: 44px;
}
header .info h3 {
	color: #d4724b;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 26px;
	font-weight: bold !important;	
}
header .info h3 .color {
	color: #7c7852 !important;
}
.content h1.title {
	font: bold 72px/60px Arial, sans-serif !important;
	text-transform: uppercase !important;
	margin: 0 0 30px !important;
	padding: 0 !important;
}
.content h4 {
	font: bold 24px/22px Arial, sans-serif !important;
	margin: 0 0 20px !important;
	color: #000 !important;
}
.da-slide p {
	height: 150px;
}
.center {
	text-align: center !important;
	padding: 0 !important;
}
.border {
	height: 4px !important;
	background: #7c7852 !important;
}
footer {
	position: relative;
	margin-top: -96px;
}
footer .line {
	width: 100%;
	height: 1px;
	font-size: 0;
	position: absolute;
	left: 0;
	top: 10px;
	background-color: #ddd;
}
footer .copy {
	border: none !important;
}

/* navbar */
.navbar {
	border: none !important;
	padding: 25px 0 15px;
	margin-bottom: 10px !important;
}
.navbar-inner {
	background-color: #fff !important;
}
.navbar .nav {
	padding-left: 15px;
}
.navbar .nav > li > a, .navbar .nav > li > a:visited {
	padding: 0 !important;
	margin-right: 20px;
	color: #020202 !important;
	font-family: Arial;
	font-size: 18px !important;
}
.navbar .nav > li > a:hover {
	color: #535353 !important;
	background: none !important;
}

/* top navbar */
.navbar-position-top {
	background-color: #f6f6f6;
	margin-bottom: 0 !important;
	padding: 10px 0;
}
.navbar-position-top .navbar-inner {
	background-color: transparent !important;
	min-height: auto;
	height: 28px;
	line-height: 28px !important;
	padding-right: 0 !important;
}
.navbar-position-top .navbar-inner li {
	height: 100%;
}
.navbar-position-top .navbar-inner a {
	line-height: 28px !important;	
}
.navbar-position-top .nav > li > a {
	margin-right: 10px;
}
.navbar-position-top .nav > li:last-child > a {
	margin-right: 0;
}
.social-public-links ul {
	list-style: none;
	margin: 0;
}
.social-public-links li {
	float: left;
	margin-right: 10px;
}
.social-public-links li a i {
	font-size: 18px !important;
}

/* Login form */
.form-type-login input[type="email"],
.form-type-login input[type="text"],
.form-type-login input[type="password"] {
	width: 100%;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-type-login .form-actions {
	padding-left: 0;
	padding-right: 0;
}
.formy input[type="submit"] {
	color: #000;
}
.formy .help-inline {
	font-size: 12px;
}
abbr[title], abbr[data-original-title] {
	cursor: default;
	border-bottom: none;
}

/* Profile form */
.form-horizontal.profile-form .control-label {
	width: 200px;
}
.form-horizontal.profile-form .controls {
	margin-left: 220px;
}
.form-horizontal.profile-form label.checkbox {
	text-align: left;
}
.form-horizontal.profile-form input[type="email"],
.form-horizontal.profile-form input[type="text"],
.form-horizontal.profile-form input[type="password"] {
	width: 300px;
}

/* sponsors */
.sponsors {
	margin-bottom: 20px;
	overflow: hidden;
}
.sponsors h4 {
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	font-weight: bold !important;
	margin-bottom: 12px !important;
}
.sponsors .left-column {
	width: 699px;
	border-right: 1px solid #e3e3e3;
	float: left;
}
.sponsors .right-column {
	width: 208px;
	padding-left: 32px;
	float: right;
}
.sponsors .logo-wrapper {
	border: 1px solid #e3e3e3;
	padding: 30px 0 30px 45px;
	margin-right: 40px;
}
.sponsors .line {
	margin-bottom: 35px;
}
.sponsors .line:last-child {
	margin-bottom: 0;
}
.sponsors .line img {
	margin-right: 44px;
	float: left;
}
.sponsors .line sup {
	float: left;
}
.sponsors .line a:last-child img {
	margin-right: 0;
}
.sponsors .first-line {
	height: 78px;
}
.sponsors .second-line {
	height: 42px;
}
.sponsors .third-line {
	height: 51px;
}
.sponsors .logo-srit {
	margin: 22px 0;
}
.sponsors-first-line {
	height: 66px;
}
.sponsor-star {
	display: inline-block;
	font-size: 0;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(/assets/stars.jpg);
}
.sponsor-star.argentum {
	background-position: 0 0;
}
.sponsor-star.gold {
	background-position: 0 -14px;
}
.legend .sponsor-star {
	margin-left: 20px;
	position: relative;
	top: 2px;
}
.legend .sponsor-star:first-child {
	margin-left: 0;
}
.sponsors-wrapper img {
	margin-right: 0 !important;
}
.sponsors-wrapper sup {
	margin-right: 44px !important;
}


td.middle {
	vertical-align: middle;
}

.theme-block {
	color: #fff;
	padding: 20px;
	min-height: 155px;
}
.theme-block h4 {
	color: #fff !important;
}

.g-blue {
	background-color: #9d0102;
}
.g-red {
	background-color: #019d9b;
}
.g-green {
	background-color: #d0ce09;
}
.g-orange {
	background-color: #839d01;
}
.g-yellow {
	background-color: #70019d;
}
.g-violin {
	background-color: #016f9d;
}
.g-disabled {
	background-color: #ccc;
}

.timetable {
	margin-top: 20px;
}
.timetable thead th {
	vertical-align: middle;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.timetable .hour,
.timetable .hour td {
	height: 120px;
}
.issue-container {
	position: relative;
	width: 100%;
}
.issue-wrap {
	position: absolute;
	margin: 0 0px;
	width: 129px;
}
.issue-container .issue {
	
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
	width: 128px;
}
.hour_1 {
	height: 100px;
}
.hour_3 {
	height: 385px;
}
.hour_4 {
	height: 520px;
}

.error {
	display: block; 
}
.color {
	color: #d4724b !important;
}
.no-padding {
	padding-bottom: 0 !important;
}

/* Foooter social */
.social-share-links {
	float: right;
	height: 36px;
	padding-top: 24px;
}
.social-share-links li {
	float: left;
	margin-left: 10px;
	height: 20px;
}
.social-share-links li.vk {
	width: 150px;
}
.social-share-links .gplus {
	position: relative;
	top: -1px;
	overflow: hidden;
	width: 65px;
}
.counter-links {
	padding-top: 22px;
	margin-left: 30px;
}
.counter-links li {
	width: 31px;
	height: 31px;
	overflow: hidden;
}

@font-face {
  font-family: 'Bender-bold';
  src: url("/assets/bender_bold-webfont.eot");
  src: url("/assets/bender_bold-webfont.eot?#iefix") format('embedded-opentype'),
    url("/assets/bender_bold-webfont.woff") format('woff'),
    url("/assets/bender_bold-webfont.ttf") format('truetype'),
    url("/assets/bender_bold-webfont.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
.bender {
  font-family: 'Bender-bold' !important;
}
.hero .bender {
	font-weight: 100;
	text-transform: uppercase;
	color: #839d01 !important;
	font-size: 30px !important;
}
.hero .bender .color {
	color: #000 !important;
}

@media (max-width: 767px) {
	#reformal_tab {
		display: none !important;
	}
}
.ui-menu {
	width: 220px !important;
	list-style: none;
}

/* lectors */
.workshop p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: pre-wrap;
}
