html,
body {
	height: 100%;
	border: none !important;
}
.main {
	min-height: 100%;
}
.main > .container {
	padding-bottom: 126px;
}
.formy,
.formy h5 {
	color: #000 !important;
	background: #fff !important;
}
.formy a {
	color: #333 !important;
}
h1 {
	margin-bottom: 20px !important;
}
header {
	border-top: 3px solid #fe781e;
}
header .info {
	padding-top: 44px;
}
header .info h3 {
	color: #d4724b;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold !important;	
}
header .info h3 .color {
	color: #7c7852 !important;
}
.da-slide p {
	height: 150px;
}
.center {
	text-align: center !important;
	padding: 0 !important;
}
footer {
	position: relative;
	margin-top: -96px;
}
footer .line {
	width: 100%;
	height: 1px;
	font-size: 0;
	position: absolute;
	left: 0;
	top: 10px;
	background-color: #ddd;
}
footer .copy {
	border: none !important;
}

/* Login form */
.form-type-login input[type="email"],
.form-type-login input[type="text"],
.form-type-login input[type="password"] {
	width: 100%;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-type-login .form-actions {
	padding-left: 0;
	padding-right: 0;
}
.formy input[type="submit"] {
	color: #000;
}
.formy .help-inline {
	font-size: 12px;
}
abbr[title], abbr[data-original-title] {
	cursor: default;
	border-bottom: none;
}

/* Profile form */
.form-horizontal.profile-form .control-label {
	width: 200px;
}
.form-horizontal.profile-form .controls {
	margin-left: 220px;
}
.form-horizontal.profile-form label.checkbox {
	text-align: left;
}
.form-horizontal.profile-form input[type="email"],
.form-horizontal.profile-form input[type="text"],
.form-horizontal.profile-form input[type="password"] {
	width: 300px;
}

td.middle {
	vertical-align: middle;
}

.theme-block {
	color: #fff;
	padding: 20px;
	min-height: 155px;
}
.theme-block h4 {
	color: #fff;
}

.g-blue {
	background-color: #70b2e2;
}
.g-red {
	background-color: #ce2c29;
}
.g-green {
	background-color: #00c655;
}
.g-orange {
	background-color: #E09533;
}
.g-yellow {
	background-color: #d0ce09;
}
.g-violin {
	background-color: #70019d;
}
.g-disabled {
	background-color: #ccc;
}

.timetable {
	margin-top: 20px;
}
.timetable thead th {
	vertical-align: middle;
	color: #fff;
	font-weight: normal;
	text-align: center;
}
.timetable .hour,
.timetable .hour td {
	height: 120px;
}
.issue-container {
	position: relative;
	width: 100%;
}
.issue-wrap {
	position: absolute;
	margin: 0 0px;
	width: 129px;
}
.issue-container .issue {
	
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 4px;
	width: 128px;
}
.hour_1 {
	height: 100px;
}
.hour_3 {
	height: 385px;
}
.hour_4 {
	height: 520px;
}

.error {
	display: block; 
}
.color {
	color: #d4724b !important;
}

/* Foooter social */
.social-share-links {
	float: right;
	height: 36px;
	padding-top: 24px;
}
.social-share-links li {
	float: left;
	margin-left: 10px;
	height: 20px;
}
.social-share-links li.vk {
	width: 150px;
}
.social-share-links .gplus {
	position: relative;
	top: -1px;
	overflow: hidden;	
}
.social-public-links {
	float: right;
	padding-top: 23px;
	margin-left: 30px;
}
.social-public-links li {
	float: left;
	margin-left: 10px;
	font-size: 18px;
}