- if is_contacts_page?
  .content
    .layout-line
      .sutochno
        = link_to "http://sutochno.ru" do
          = image_tag "logos/sutochno.png"
        .text
          %p Выгодная посуточная аренда квартир
          %p в России и за рубежом
  %hr
- if @page.title and not @page.blank?
  .pagetitle
    .layout-line
      %h1.pagetitle__title= @page.title
.content
  .layout-line
    != @page.body
