.formy.formy-issue.nested-fields
  .row-fluid
    .span8
      = f.input :title
      = f.input :thesises, input_html: {rows: 5}
    .span3
      = f.input :presentation, as: :file
    - if f.object.new_record?
      .span1
        .pull-right
        = link_to_remove_association f do
          %i.icon-trash
%br
